---
eleventyExcludeFromCollections: true
description: This is the online home of Hubert Sablonnière, a software engineer from Lille who loves the Web!
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'seo.njk' %}
  {% include 'favicon.njk' %}
  <link rel="manifest" href="./manifest.json">
  <link rel="alternate" type="application/rss+xml" title="Feed for articles" href="articles-feed.xml">
  <title>Hubert Sablonnière</title>
  <link rel="stylesheet" href="./assets/css/home.css">
</head>
<body>
<header class="header-wrapper">
  <h1 class="header-title"><a href="." title="Home" rel="home">Hubert Sablonnière</a></h1>
  <img class="header-avatar" src="assets/img/hsablonniere.jpg" alt="Hubert Sablonnière avatar" width="120px">
</header>
<main class="main">
  <p>Hello, I'm <strong>Hubert</strong>. I'm a software engineer working for <a href="https://www.clever-cloud.com/" target="_blank" rel="noopener noreferrer">Clever Cloud</a> in <a href="https://www.openstreetmap.org/?mlat=50.637222&mlon=3.063333&zoom=9#map=6/47.287/1.318" target="_blank" rel="noopener noreferrer" title="Map of Lille">Lille</a> and&nbsp;I love the Web!</p>

  <p>You can find my articles here:</p>

  <ul>
    {%- for article in collections.article | reverse -%}
    <li>
      <a href="{{ article.url }}">{{ article.data.title }}</a>
      <span class="article-date">{{ article.data.shortDate }} </span>
    </li>
    {%- endfor -%}
  </ul>
  <p>You can also find me here:</p>
  <ul class="elsewhere">
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="mailto:'hubert...sablonniere@gmail.com'" title="Email ">Email</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="articles-feed.xml" title="RSS feed or my articles ">RSS feed or my articles</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/hsablonniere" title="Twitter ">Twitter</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://github.com/hsablonniere/" title="GitHub ">GitHub</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/hsablonniere/" title="GitLab ">GitLab</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/playlist?list=PLTBioAEvUEj0oFF2v71IPvu8iFBQYYNEt" title="YouTube ">YouTube</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://vimeo.com/album/4407825" title="Vimeo ">Vimeo</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/hsablonniere/" title="LinkedIn ">LinkedIn</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://dev.to/hsablonniere" title="DEV ">DEV</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://medium.com/@hsablonniere" title="Medium ">Medium</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://soundcloud.com/hsablonniere" title="Soundcloud ">Soundcloud</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener noreferrer" href="https://www.senscritique.com/hsablonniere" title="Sens Critique ">Sens Critique</a></li>
  </ul>
</main>
<footer class="footer">© Hubert Sablonnière</footer>
</body>
</html>
