html {
  --bgc: #efefef;
  font-size: calc(1em + 0.5vw);
  line-height: 1.5;
}

body {
  margin: 0;
}

.header-wrapper {
  --size: 8rem;
  --border: 0.9rem;
  align-items: center;
  background-color: var(--bgc);
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--size) / 2);
  position: relative;
}

.header-title {
  /* this big left/right margin forces two lines on mobile*/
  margin: 0 4rem;
}

.header-title a {
  color: #444;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.header-title:hover a {
  text-decoration: underline;
}

.header-avatar {
  /* bg-color from image */
  background-color: #f2d8b5;
  border-radius: 50%;
  border: calc(var(--border) / 2) solid white;
  height: calc(var(--size) - var(--border));
  margin-top: calc(var(--size) / -2);
  overflow: hidden;
  position: relative;
  text-align: center;
  top: calc(var(--size) / 2);
  width: calc(var(--size) - var(--border));
}

.main {
  box-sizing: border-box;
  font-family: "Iowan Old Style", Palatino Linotype, Palatino, Georgia, serif;
  margin: auto;
  max-width: 30rem;
  /* cheap trick for a sticky footer but I didn't like other solutions  */
  min-height: 75vh;
  padding: 1rem;
  width: 100%;
}

.main section {
  margin-bottom: 2em;
}

.main p {
  margin: 0.75rem 0;
}

.main ul {
  margin: 0.5em 0;
}

.main a,
.main a:visited {
  color: #3F3FFF;
}

.main .message {
  text-align: center;
}

.article-date {
  color: #333;
}

.elsewhere {
  align-items: center;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: start;
}

.elsewhere-link {
  --size: 1.5rem;
  background: no-repeat center center;
  background-size: contain;
  display: block;
  filter: grayscale(100%);
  font-size: 0;
  height: var(--size);
  width: var(--size);
}

.elsewhere-link:active,
.elsewhere-link:focus,
.elsewhere-link:hover {
  filter: grayscale(0%);
}

.elsewhere-link[title="Twitter "] {
  background-image: url(../img/rettiwt.svg);
}

.elsewhere-link[title="Mastodon "] {
  background-image: url(../img/mastodon.svg);
}

.elsewhere-link[title="Bluesky "] {
  background-image: url(../img/ykseulb.png);
}

.elsewhere-link[title^="RSS "] {
  background-image: url(../img/ssr.svg);
}

.elsewhere-link[title="GitHub "] {
  background-image: url(../img/buhtig.svg);
}

.elsewhere-link[title="GitLab "] {
  background-image: url(../img/baltig.svg);
}

.elsewhere-link[title="YouTube "] {
  background-image: url(../img/ebutuoy.svg);
}

.elsewhere-link[title="Vimeo "] {
  background-image: url(../img/oemiv.svg);
}

.elsewhere-link[title="Twitch "] {
  background-image: url(../img/hcitiwt.svg);
}

.elsewhere-link[title="LinkedIn "] {
  background-image: url(../img/nideknil.svg);
}

.elsewhere-link[title="Sens Critique "] {
  background-image: url(../img/euqitircsnes.svg);
}

.elsewhere-link[title="Letterboxd "] {
  background-image: url(../img/letterboxd.svg);
}

.elsewhere-link[title="Serializd "] {
  background-image: url(../img/serializd.svg);
}

.elsewhere-link[title="Soundcloud "] {
  background-image: url(../img/duolcdnuos.svg);
}

.elsewhere-link[title="DEV "] {
  background-image: url(../img/dev.svg);
}

.elsewhere-link[title="Medium "] {
  background-image: url(../img/muidem.svg);
}

.elsewhere-link[title="Email "] {
  background-image: url(../img/liamg.svg);
}

.footer {
  background-color: var(--bgc);
  font-size: 0.8rem;
  padding: 0.5rem 0;
  text-align: center;
}
