<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../favicon.ico">
  <title>{{ title | safe }} - Hubert Sablonnière</title>
  <link rel="stylesheet" href="../assets/css/article.css">
  <link rel="stylesheet" href="../assets/css/prismjs-github.css">
</head>
<body>
<header class="header-wrapper">
  <div class="header-title"><a href="/" title="Home" rel="home">Hubert Sablonnière</a></div>
  <img class="header-avatar" src="../assets/img/hsablonniere.jpg" alt="Hubert Sablonnière avatar" width="120px">
</header>
<main class="main">
  <h1>{{ title | safe }}</h1>
  <div class="publication-date">Published on {{ formattedDate }} </div>
  {{ content | safe }}
  <div class="edit-link-wrapper">
    <a href="{{ githubEditUrl }}">Edit this article on GitHub</a>
  </div>
</main>
<footer class="footer">© Hubert Sablonnière</footer>
</body>
</html>
