<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'seo.njk' %}
  {% include 'favicon.njk' %}
  <link rel="manifest" href="../manifest.json">
  <link rel="alternate" type="application/rss+xml" title="Feed for articles" href="../articles-feed.xml">
  <title>{{ title | safe }} - Hubert Sablonnière</title>
  <link rel="stylesheet" href="../assets/css/article.css">
  {% if withCodeSamples %}
  <link rel="stylesheet" href="../assets/css/prismjs-github.css">
  {% endif %}
  {% for stylesheetPath in stylesheets %}
  <link rel="stylesheet" href="{{ stylesheetPath }}">
  {% endfor %}
</head>
<body>
<header class="header-wrapper">
  <div class="header-title"><a href="/" title="Home" rel="home">Hubert Sablonnière</a></div>
  <img class="header-avatar" src="../assets/img/hsablonniere.jpg" alt="Hubert Sablonnière avatar" width="120px">
</header>
<article class="main" role="main">
  <h1>{{ title | safe }}</h1>
  <div class="publication-date">Published on {{ formattedDate }} ・ {{ content | emojiReadTime }}</div>
  {{ content | safe }}
  <div class="edit-link-wrapper">
    <a href="{{ githubEditUrl }}">Edit this article on GitHub</a>
  </div>
</article>
<footer class="footer">© Hubert Sablonnière</footer>
</body>
</html>
