<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hubert Sablonnière</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="stylesheet" href="/theme/css/index.css">
</head>
<body>
<header class="header-wrapper">
  <h1 class="header-title"><a href="/" title="Home" rel="home">Hubert Sablonnière</a></h1>
  <img class="header-avatar" src="/theme/img/hsablonniere.jpg" alt="Hubert Sablonnière avatar" width="120px">
</header>
<main class="main">
  <p>Hello, I'm <strong>Hubert</strong>. I'm a software engineer working for <a href="https://www.clever-cloud.com/" target="_blank" rel="noopener">Clever Cloud</a> in <a href="https://www.openstreetmap.org/?mlat=50.637222&mlon=3.063333&zoom=9#map=6/47.287/1.318" target="_blank" rel="noopener" title="Map of Lille">Lille</a> and&nbsp;I love the Web!</p>
  <p>Welcome on my site! There's nothing much here yet, but soon there will be...</p>
  <p>You can also find me here:</p>
  <ul class="elsewhere">
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="mailto:'hubert...ablonniere@gmail.com'" title="Email">Email</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://twitter.com/hsablonniere" title="Twitter">Twitter</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://github.com/hsablonniere/" title="GitHub">GitHub</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://www.youtube.com/playlist?list=PLTBioAEvUEj0oFF2v71IPvu8iFBQYYNEt" title="YouTube">YouTube</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://vimeo.com/album/4407825" title="Vimeo">Vimeo</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://www.linkedin.com/in/hsablonniere/" title="Linked In">LinkedIn</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://medium.com/@hsablonniere" title="Medium">Medium</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://soundcloud.com/hsablonniere" title="Soundcloud">Soundcloud</a></li>
    <li><a class="elsewhere-link" target="_blank" rel="noopener" href="https://www.senscritique.com/hsablonniere" title="Sens Critique">Sens Critique</a></li>
  </ul>
</main>
<footer class="footer">© 2017 Hubert Sablonnière</footer>
</body>
</html>
