html,
body {
  margin: 0;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
}

h1,
p {
  margin: 0.5em 0;
}
